.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 0px 44px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 96px;
  background: var(--beige);
}

.projects__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 160px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 16px;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  font-family: Inter;
  color: var(--black);
}

.projects__text h2 {
  color: var(--green);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.12px;
}

.projects__text h3 {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -1.44px;
}

.projects__text h3 span {
  font-family: Inter;
  font-style: italic;
}

#macy-container {
  text-align: center;
}

.projects__photos {
  width: 100%;
  max-height: 1475px;
  position: relative;
  overflow-y: hidden;
}

.item {
  width: 452px;
}

.projects__photos--gradient {
  height: 1000px;
  width: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#dcc1ab),
    to(rgba(214, 183, 158, 0))
  );
  background: -o-linear-gradient(
    bottom,
    #dcc1ab 0%,
    rgba(214, 183, 158, 0) 100%
  );
  background: linear-gradient(360deg, #dcc1ab 0%, rgba(214, 183, 158, 0) 100%);
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.projects__photos button {
  display: inline-flex;
  padding: 12px 22px 14px 22px;
  align-items: center;
  gap: 8px;
  border-radius: 200px;
  border: 1px solid var(--black);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  z-index: 10;
  position: absolute;
  left: 45%;
  bottom: 45px;
}

.projects__photos button img {
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.visible {
  max-height: unset;
}

.none {
  display: none !important;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.modal-header .close {
  margin-top: -2px;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.carousel {
  position: relative;
  text-align: center;
  background-color: var(--white);
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: var(--white);
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  opacity: 1;
}

.modal-footer {
  display: flex;
  padding: 0.75rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: var(--green);
  padding: 10%;
}

.carousel-control-next-icon img,
.carousel-control-prev-icon img {
  filter: invert(100%) sepia(0%) saturate(7476%) hue-rotate(56deg)
    brightness(110%) contrast(96%);
}

.carousel-control-next-icon img {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

@media only screen and (max-width: 600px) {
  .projects__text {
    padding-left: 8%;
  }
}
